extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let batmanid = toShow._id 
    - let batman_actor = toShow.batman_actor
    - let batmanage = toShow.age
    - let batmancolor = toShow.color 
    - let actionid = "/resource/batmans/" + batmanid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='batmanAttr mr-3') batman ID is: 
        div #{batmanid} 
      div.row 
        div(class='batmanAttr mr-3') batman actor is: 
        div #{batman_actor} 
      div.row 
        div(class='batmanAttr mr-3') batman age is: 
        div #{batmanage} 
      div.row 
        div(class='batmanAttr mr-3') batman Color is: 
        div #{batmancolor} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the batman collection 
      window.location.href='/batmans' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'    
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/batmans' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 