extends layout

block content
  h1= title 
  p Racchu
  div(class="container-fluid")
        div(class="row")
            -
                let batman = results
            each v,index in batman 
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.actor}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.age}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.color}
                
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }                